body {
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
  padding: 0;
}
  
svg {
  bottom: 0;
  height: 350px;
  left: 0;
  position: absolute;
  right: 0;
}

.dashboard {
  background-image: url( 'texture.png' );  
  background-color: black;
  bottom: 0;
  box-shadow: 0 -2px 10px rgba( 0, 0, 0, 0.40 );
  height: 350px;
  left: 0;
  position: absolute;
  right: 0;
}
  
.map {
  bottom: 350px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
  
.temperature {
  position: absolute;
  bottom: 50px;
}
  
video {
  width: 427px; 
  height: 240px; 
  background-color: rgba( 0, 0, 0, 0.50 ); 
  position: absolute; 
  right: 6px; 
  top: 28px;  
  visibility: hidden;
}
