/* This code is only meant for previewing your Reflow design. */
.primaryContainer {
    height: auto;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;
    width: 100%;
}

#splash {
    float: left;
    height: auto;
    margin: 0px;
    clear: none;
    width: 100%;
    min-width: 0px;
    padding: 30px;
    display: block;
    background-image:url("img/sand-blur.jpg");
    background-attachment: scroll;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat no-repeat;
}

#account {
    float: right;
    height: auto;
    margin: 0px;
    clear: none;
    width: 45%;
    display: block;
    padding: 20px;
}

#header {
    float: left;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
    display: block;
}

#input {
    float: left;
    height: 50px;
    margin: 30px 0px 0px;
    clear: left;
    width: 100%;
    min-height: 50px;
    min-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

#placeholder {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 300;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#box {
    float: left;
    height: 50px;
    margin: 20px 0px 0px;
    clear: left;
    width: 99.999999%;
    min-height: 50px;
    min-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

#text {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 300;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#box1 {
    float: left;
    height: 50px;
    margin: 20px 0px 0px;
    clear: left;
    width: 99.999999%;
    min-height: 50px;
    min-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

#text1 {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 300;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#box2 {
    float: left;
    height: 50px;
    margin: 20px 0px 0px;
    clear: left;
    width: 99.999999%;
    min-height: 50px;
    min-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

#text2 {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 300;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#box3 {
    float: left;
    height: 50px;
    margin: 20px 0px 0px;
    clear: left;
    width: 99.999999%;
    min-height: 50px;
    min-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    display: block;
    background-color: rgba(0, 0, 0, 0.2);
}

#text3 {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 300;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#button {
    float: right;
    height: 50px;
    margin: 20px 0px 0px;
    clear: left;
    width: 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px 0px;
    display: block;
    background-image:-webkit-linear-gradient(270deg, rgb(240, 183, 161) 0%, rgb(140, 51, 16) 50%, rgb(117, 34, 1) 53%, rgb(191, 110, 78) 100%);
    background-image: linear-gradient(180deg, rgb(240, 183, 161) 0%, rgb(140, 51, 16) 50%, rgb(117, 34, 1) 53%, rgb(191, 110, 78) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#label {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 255, 255);
    font-family: source-sans-pro;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px;
}

#token {
    float: left;
    height: auto;
    margin: 0px;
    clear: none;
    width: 45%;
    padding: 20px;
}

#header1 {
    float: left;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#field {
    float: left;
    height: 50px;
    margin: 30px 0px 0px;
    clear: both;
    width: 99.805424%;
    min-height: 50px;
    min-width: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px 0px inset;
    background-color: rgba(0, 0, 0, 0.2);
}

#placeholder1 {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: left;
    font-weight: 300;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    padding-right: 20px;
    padding-left: 20px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#activity {
    float: left;
    height: 260px;
    margin: 20px 0px 0px;
    clear: left;
    width: 45%;
    padding: 20px;
    display: block;
}

#header2 {
    float: left;
    font-size: 2em;
    width: auto;
    height: auto;
    text-align: left;
    font-weight: 300;
    line-height: 1em;
    margin: 0px;
    clear: none;
    min-height: 0px;
    font-family: source-sans-pro;
    color: rgb(255, 255, 255);
    text-shadow: rgba(0, 0, 0, 0.4) 1px 1px 2px;
}

#statistics {
    float: left;
    height: 159px;
    margin: 30px 0px 0px 0%;
    clear: both;
    width: 99.805424%;
    background-color: rgba(0, 0, 0, 0.2);
}

#button1 {
    float: right;
    height: 50px;
    margin: 20px 0px 0px;
    clear: both;
    width: 50%;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px 0px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 1px 0px;
    display: block;
    background-image:-webkit-linear-gradient(270deg, rgb(240, 183, 161) 0%, rgb(140, 51, 16) 50%, rgb(117, 34, 1) 53%, rgb(191, 110, 78) 100%);
    background-image: linear-gradient(180deg, rgb(240, 183, 161) 0%, rgb(140, 51, 16) 50%, rgb(117, 34, 1) 53%, rgb(191, 110, 78) 100%);
    background-attachment: scroll;
    -webkit-background-size: auto;
    background-size: auto;
    background-position: 0% 0%;
    background-repeat: repeat repeat;
}

#label1 {
    float: left;
    font-size: 1.2em;
    width: 100%;
    height: 50px;
    text-align: center;
    font-weight: normal;
    line-height: 50px;
    margin: 0px;
    clear: none;
    min-height: 0px;
    min-width: 0px;
    color: rgb(255, 255, 255);
    font-family: source-sans-pro;
    text-shadow: rgba(0, 0, 0, 0.4) 0px 2px 0px;
}

@media only screen and (max-width: 992px) {
    #button {
        width: 100%;
    }

    #button1 {
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    #account {
        width: 100%;
    }

    #button {
        width: 50%;
    }

    #token {
        width: 100%;
        margin-top: 25px;
    }

    #activity {
        width: 100%;
        margin-top: 25px;
    }

    #button1 {
        width: 50%;
    }
}

@media only screen and (max-width: 500px) {
    #account {
        margin-right: 0px;
    }

    #button {
        width: 100%;
    }

    #token {
        margin-left: 0px;
    }

    #activity {
        margin-left: 0px;
    }

    #button1 {
        width: 100%;
    }
}

