.card {
    background-image: url( "../img/gold-card.png" );
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border-radius: 10px;
    box-shadow: 0px 2px 5px 0px rgba( 0, 0, 0, 0.40 );
    font-family: "Source Code Pro";
    font-weight: 600;
    letter-spacing: 2px;
    margin: auto;
    text-shadow: -1px 0px 0px white;
}

.card .expiration {
    bottom: 0px;
    position: absolute;
    right: 70px;
}

.card .holder {
    bottom: 0px;
    position: absolute;
    right: -15px;
}

.card .number {
    bottom: 50px;
    position: absolute;
    right: -60px;
}

.card .number a {
    color: black;
    text-decoration: none;
}

.instructions {
    bottom: 20px;
    color: rgba( 0, 0, 0, 0.80 );
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
}

.page {
    bottom: 50px;
    left: 0px;
    position: absolute;
    right: 0px;
}

.page .holder {
    margin: auto;
    width: 78px;
}

.page .indicator {
    border-radius: 10px;
    border: 1px black solid;
    float: left;
    height: 10px;
    margin-right: 10px;
    width: 10px;
}

.page .indicator:last-of-type {
    margin-right: 0px;
}

.page .selected {
    background-color: rgba( 0, 0, 0, 0.40 );
}

.payment {
    bottom: 0px;
    display: none;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}

.status {
    font-weight: 600;
    left: 0px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 20px;
}

.vertical {
    -webkit-transform: rotate( -90deg );
    -webkit-transform-origin: 0% 0%;
}

.wallet {
    bottom: 80px;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 50px;
}
